#if ($ctx.error)
    $util.appendError($ctx.error.message, $ctx.error.type, null, $ctx.result.data.unprocessedKeys)
#end

$util.toJson($ctx.result.data.IngredientAmount-ng27cd4la5bbpg6yvnapd523ky-dev)
