.ar-content .table-style-1{
    width: 95%;
    margin: 10px auto;
    max-width: 500px;
}
.ar-content td ion-avatar{
    width: 40px;
    height: 40px;
}
.tagsItem{
    margin-top: -15px;
}
.tag{
    margin-left: 5px;
}
.tag:first-child{
    margin-left: 0;
}
.ar-img-container{
    padding: 15px 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto;
}
.ar-img-container .ar-img {
    min-width: 150px;
    width: 150px;
    align-self: flex-start;
    position: relative;
}
.ar-img-container .ar-img .ar-img-close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px 8px;
    background: black;
    color: white;
    font-size: 22px;
    cursor: pointer;
}
#ar-file{
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
}
.ar-upload{
    padding: 15px;
    text-align: center;
    border: 2px dashed var(--ion-color-violet);
    width: 95%;
    margin: 25px auto 0;
    display: block;
    color: var(--ion-color-violet);
    font-weight: 500;
}
